USE [rikvin]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_client_address]    Script Date: 9/3/2025 12:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_get_client_address]  
AS  
BEGIN  
 SELECT  [id],  
   client_group_id,  
   short_name,  
   (SELECT ShortGroupName FROM dbo.ClientGroup (NOLOCK) WHERE GroupId = client_group_id) AS client_group_name,  
   (CASE WHEN country_id <> 71 THEN postal_code ELSE NULL END) postal_code,  
   (CASE WHEN country_id = 71 THEN postal_code ELSE NULL END) indo_postal_code,
   floor_no,  
   unit_no,  
   address_line1,  
   address_line2,  
   country_id,  
   is_foreign_addresses,  
   foreign_addresses,  
   
   -- ✅ NEW: Add foreign_state and foreign_city columns
   ISNULL(foreign_state, '') AS foreign_state,
   ISNULL(foreign_city, '') AS foreign_city,
   
   ISNULL(updated_by, created_by) AS updated_by,  
   CONVERT(NVARCHAR(10), ISNULL(updated_date, created_date), 103) AS updated_date,  
   
   -- ✅ UPDATED: Enhanced address display logic for Malaysian foreign addresses
   (CASE WHEN clientAddr.is_foreign_addresses = 1 THEN 
     -- For Malaysian foreign addresses, prioritize foreign_state and foreign_city if available
     CASE WHEN client_group_id = 19 
	 --AND 
  --             LEN(LTRIM(RTRIM(ISNULL(foreign_state, '')))) > 0 AND 
  --             LEN(LTRIM(RTRIM(ISNULL(foreign_city, '')))) > 0 
			   THEN
       ---- Use foreign_state and foreign_city for Malaysian foreign addresses
       --ISNULL(foreign_state, '') + 
       --CASE WHEN LEN(LTRIM(RTRIM(foreign_state))) > 0 AND LEN(LTRIM(RTRIM(foreign_city))) > 0 THEN ', ' ELSE '' END +
       --ISNULL(foreign_city, '') +
       CASE WHEN LEN(LTRIM(RTRIM(clientAddr.address_line1))) > 0 THEN ISNULL(clientAddr.address_line1, '') ELSE '' END +
       CASE WHEN LEN(LTRIM(RTRIM(clientAddr.address_line2))) > 0 THEN ', ' + ISNULL(clientAddr.address_line2, '') ELSE '' END +
       CASE WHEN LEN(LTRIM(RTRIM(clientAddr.postal_code))) > 0 THEN ', ' + 
          clientAddr.postal_code + ' '+ clientAddr.foreign_city
		 + ', '+ clientAddr.foreign_state + ', '+ dbo.TitleCase(ISNULL((SELECT CountryName FROM dbo.Country WHERE CountryId = clientAddr.country_id), ''))
       ELSE '' END
     ELSE 
       -- Fall back to standard foreign_addresses field for non-Malaysian or legacy records
       clientAddr.foreign_addresses
     END
     WHEN [id] IS NOT NULL AND [id] > 0 AND (EXISTS(SELECT 1 FROM rikvin..ClientGroup(NOLOCK)cg WHERE cg.GroupId = client_group_id AND cg.country_id  = 71) ) THEN       
    -- Indonesian/Indian address formatting
    (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.building_name))) > 0 THEN  ISNULL(clientAddr.building_name, '') + ' ' ELSE '' END) +        
    (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.building_no))) > 0 THEN  ISNULL(clientAddr.building_no, '') + ', ' ELSE '' END) +   
    (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.floor_no))) > 0 THEN '#' + ISNULL(clientAddr.floor_no, '')  ELSE '' END) +       
    (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.unit_no))) > 0 THEN '-' + ISNULL(clientAddr.unit_no, '') + ', ' ELSE '' END) +         
    (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.street_name))) > 0 THEN  ISNULL(clientAddr.street_name, '') + ' ' ELSE '' END) +      
    (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.street_no))) > 0 THEN ISNULL(clientAddr.street_no, '') + ', ' ELSE '' END) +     
    (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.subdistrict))) > 0 THEN ISNULL(clientAddr.subdistrict, '') + ', ' ELSE '' END) +    
    (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.district))) > 0 THEN ISNULL(clientAddr.district, '') + ', ' ELSE '' END) +    
    (CASE WHEN (LEN(LTRIM(RTRIM(clientAddr.city_id))) > 0 OR  LEN(LTRIM(RTRIM(clientAddr.cityname))) > 0) AND ISNULL(clientAddr.province,0) <> 2 THEN ISNULL((select cityName from city(NOLOCK) WHERE cityId =clientAddr.city_id), ISNULL((clientAddr.cityname), '')) + ',' ELSE '' END) +        
     (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.postal_code))) > 0 THEN     
     dbo.TitleCase(ISNULL((SELECT CountryName FROM dbo.Country WHERE CountryId = clientAddr.country_id), '')) +  ' ' + clientAddr.postal_code ELSE '' END)  

	 -- NEW: Add separate case for Indian addresses (country_id = 70)
	 WHEN [id] IS NOT NULL AND [id] > 0 AND (EXISTS(SELECT 1 FROM rikvin..ClientGroup(NOLOCK) cg WHERE cg.GroupId = client_group_id AND cg.country_id = 70)) THEN       
	 -- Indian address formatting: Line1, Line2, Postal Code, State, Country
	 (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.address_line1))) > 0 THEN ISNULL(clientAddr.address_line1, '') ELSE '' END) +        
	 (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.address_line2))) > 0 THEN ', ' + ISNULL(clientAddr.address_line2, '') ELSE '' END) +
	 (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.postal_code))) > 0 THEN ', ' + ISNULL(clientAddr.postal_code, '') ELSE '' END) +
	 -- Add state name from region table
	 (CASE WHEN ISNULL(clientAddr.province, 0) > 0 THEN 
		', ' + ISNULL((SELECT regionName FROM dbo.country_region WHERE regionId = clientAddr.province), '') 
	 ELSE '' END) +
	 -- Add country name
	 (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.postal_code))) > 0 THEN 
		', ' + dbo.TitleCase(ISNULL((SELECT CountryName FROM dbo.Country WHERE CountryId = clientAddr.country_id), ''))
	 ELSE '' END)
     WHEN [id] IS NOT NULL AND [id] > 0 THEN  
      -- Standard address formatting
      (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.address_line1))) > 0 THEN ISNULL(clientAddr.address_line1, '') + ', ' ELSE '' END) +        
     (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.floor_no))) > 0 THEN '#' + ISNULL(clientAddr.floor_no, '')  ELSE '' END) +       
     (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.unit_no))) > 0 THEN '-' + ISNULL(clientAddr.unit_no, '') + ', ' ELSE '' END) +      
     (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.address_line2))) > 0 THEN ISNULL(clientAddr.address_line2, '') + ', ' ELSE '' END) +      
     (CASE WHEN LEN(LTRIM(RTRIM(clientAddr.postal_code))) > 0 THEN     
     dbo.TitleCase(ISNULL((SELECT CountryName FROM dbo.Country WHERE CountryId = clientAddr.country_id), '')) +  ' ' + clientAddr.postal_code ELSE '' END)  
     ELSE '' END) AS [Address],  
    building_name AS BuildingName,  
    building_no AS BuildingNo,  
    street_name AS StreetName,  
    street_no AS StreetNo,  
    subdistrict AS Subdistrict,  
    district AS District,  
    ISNULL(city_id ,0)AS CityId,  
    ISNULL(province,0) AS RegProvince,  
    ISNULL(cityname,0) AS cityname,
    ISNULL(malaysianState_Id,0) as malaysianState_Id  
 FROM dbo.client_addresses AS clientAddr  
 WHERE is_delete = 0  
 ORDER BY [id] DESC  
END